
.skippedErr_header {
    width: 100%;
    height: 46px;
    background-color: rgb(96, 93, 93);
    border: 4px solid white;
    margin-top: 10mm;
    color: rgb(253, 253, 253);
    
}
.summaryHeading {
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 3mm;

}

.form-container {
    width: 100%;
    box-sizing: border-box;
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.form-item label {
    font-weight: bold;
    color: #030303;
}

.ReportTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 4mm;

}

.ReportTable td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 6px;
    /*   white-space: nowrap;  This can restrict sentence from break down into several rows*/
}

.ReportTable th {
    background: #b80000;
    color: white;
    padding: 4mm;
    font-size: small;
}
